spring:
  application:
    name: ApiGateway
#  data:
#    redis:
#      host: localhost
#      port: 6379
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: QUIZSERVICE
              uri: lb://quizservice
              predicates:
                - Path=/quizzes/**
              filters:
                - name: RequestRateLimiter
                  args:
                    Key-resolver: "#{@ipKeyResolver}"
                    redis-rate-limiter:
                      replenishRate: 2
                      burstCapacity: 4

            - id: QUESTIONSERVICE
              uri: lb://QUESTIONSERVICE
              predicates:
                - Path=/questions/**
server.port: 8083
